table.title {
	width: 100%;
	margin: 0; 
}
table.title td {
  padding: .4em;
}

table.requests {
	width: 95%;
	margin: auto;
}
table.requests td {
  border-right: none;
  padding: .4em;
}

table.requests th {
	text-align: left;
	padding: .2em .4em .1em .4em;
	font-size: 12px;
	vertical-align: bottom;
	background: lightgrey;
	color: black;
	border: 2px solid grey;
	border-left: 0;
	border-right: 0;
}

table.requests th.title {
  min-width: 100px;
  border:0;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
}
#requests_content {
  padding-top: 0;
  padding-left: 14px;
}