/* line 4, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none; }

/* line 21, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

/* line 52, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 57, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  h1 img {
    margin: 0; }

/* line 59, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 63, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 68, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 73, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 78, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

/* line 82, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* line 84, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p {
  margin: 0 0 1.5em; }
  /* line 86, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 90, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 94, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:visited {
    color: #000066; }
  /* line 15, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:focus {
    color: black; }
  /* line 18, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: black; }
  /* line 21, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:active {
    color: #cc0099; }

/* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 101, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong {
  font-weight: bold; }

/* line 103, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em {
  font-style: italic; }

/* line 105, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold; }

/* line 108, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub {
  line-height: 0; }

/* line 110, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666; }

/* line 112, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 115, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del {
  color: #666; }

/* line 117, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 120, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 122, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol {
  margin: 0 1.5em; }

/* line 124, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

/* line 127, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

/* line 130, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl {
  margin: 0 0 1.5em 0; }
  /* line 132, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  dl dt {
    font-weight: bold; }

/* line 134, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd {
  margin-left: 1.5em; }

/* line 136, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 139, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th {
  font-weight: bold; }

/* line 141, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th {
  background: #c3d9ff; }

/* line 143, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 145, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td {
  background: #e5ecf9; }

/* line 147, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot {
  font-style: italic; }

/* line 149, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption {
  background: #eee; }

/* line 151, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet {
  color: #666666; }

/* line 153, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud {
  color: #111111; }

/* line 7, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
.showgrid {
  background: url(/images/grid.png); }

/* line 18, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body {
  margin: 1.5em 0; }

/* line 35, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }

/* line 38, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eee; }

/* line 41, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eee; }

/* line 43, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }

/* line 45, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr.space {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff; }

/* line 19, ../../app/stylesheets/screen.sass */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  background: url(/images/grid.png); }
  /* line 5, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #container {
    display: block; }
  /* line 22, ../../app/stylesheets/screen.sass */
  #container a {
    text-decoration: none; }
    /* line 4, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
    #container a:hover {
      text-decoration: underline; }

/* line 26, ../../app/stylesheets/screen.sass */
#header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  position: relative; }
  /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #header {
    overflow-x: hidden; }
  /* line 29, ../../app/stylesheets/screen.sass */
  #header #account_navigation {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 1em;
    right: 0px; }
    /* line 5, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    #header #account_navigation {
      display: block; }
    /* line 50, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #header #account_navigation li {
      list-style-type: none;
      margin-left: 0px;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      /* line 40, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #header #account_navigation li.first {
        padding-left: 0px; }
      /* line 42, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #header #account_navigation li.last {
        padding-right: 0px; }

/* line 34, ../../app/stylesheets/screen.sass */
#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 670px; }
  /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #content {
    overflow-x: hidden; }
  /* line 36, ../../app/stylesheets/screen.sass */
  #content #statistics {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 670px; }
    /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html #content #statistics {
      overflow-x: hidden; }

/* line 38, ../../app/stylesheets/screen.sass */
#sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px; }
  /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #sidebar {
    overflow-x: hidden; }

/* line 41, ../../app/stylesheets/screen.sass */
#unobtrusive {
  font-family: Monaco, Courier, "Lucida Sans Unicode", monospace;
  font-size: 2em;
  color: #888; }
  /* line 12, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/_misc.sass */
  #unobtrusive .selector {
    vertical-align: middle;
    font-size: 1.3em; }
  /* line 15, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/_misc.sass */
  #unobtrusive .brace {
    vertical-align: middle;
    font: bold 1.7em Georgia, "Times New Roman", serif;
    color: #CCC;
    margin: 0 -0.2em; }
  /* line 20, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/_misc.sass */
  #unobtrusive .rule {
    vertical-align: middle;
    margin: 0 -0.2em; }
