@import blueprint/modules/scaffolding.sass
@import compass/reset.sass, compass/utilities.sass, compass/misc.sass
@import blueprint/modules/debug.sass

body
  #+showgrid
  font-family: Verdana, sans-serif
  font-size: 14px
  line-height: 20px
  p
    margin: 20px 0
  h2
    font-size: 1.2857em
    margin: 0.5556em 0 0.5556em
  img
    margin: 9px 0 9px
  td
    padding: 0 5px 0 5px
    border-bottom: 2px solid lightgrey
    font-size: 14px
    line-height: 18px
  img.small-photo
    margin: 16px 0 16px
  .qs_input
    height: 20px
    width: 95%
    margin: 6px 0 6px
    font-size: 18px

#container
  +container
  #content
    +column(19)
  #sidebar
    +column(5)
    +last
    p
      font-size: 0.85714em
      margin: 1.6667em 0