#content
  %h2 Available Players
  %table
    - @available_players.each do |p|
      %tr
        %td= link_to("DRAFT", {:controller => 'roster_assignments', :action => 'create', :id => p.id, :draft_player => true}, :confirm => "Really? Are you serious? One last chance to redeem yourself (push cancel)", :method => :post)
        %td= p.positions.collect{|pos| pos.abbreviation}.join('/')
        %td= p.name
        %td= p.nhl_team.abbreviation

#sidebar
  %p
    #epiClock