#content
  - @draft_picks.enum_slice(@number_of_fantasy_teams).each_with_index do |group,round_number|
    %br
    %hr
    %br
    %h3= "Round #{round_number + 1}"
    %table
      - if group.first.class.to_s == 'FantasyTeam'
        - group.each_with_index do |fantasy_team, i|
          %tr
            %td=h i + 1
            %td=h fantasy_team.name
            %td=h fantasy_team.user.name
      - elsif group.first.class.to_s == 'DraftPick'
        - group.each_with_index do |draft_pick, i|
          %tr
            %td=h i + 1
            %td=h draft_pick.fantasy_team.name
            %td=h draft_pick.fantasy_team.user.name
