#content
  - @draft_picks.enum_slice(8).each_with_index do |group,round_number|
    = "Round #{round_number + 1}"
    %table.requests
      - group.each_with_index do |fantasy_team, i|
        %tr
          %td=h i + 1
          %td=h fantasy_team.name
          %td=h fantasy_team.user.name