.container_16
  .grid_5 &nbsp;

  .grid_6
    %h3 Log in

    - airbudd_form_for(@user_session, :url => user_session_path) do |f|

      = f.text_field :login, :label => "Your Login"

      = f.password_field :password, :label => "Your Password"

      %p.button-field= f.submit "Login"

  .grid_5 &nbsp;